{% extends "layout.html" %}
    
{% block content %}

<div class="sb-sidenav-footer">
    <div class="small">Logged in as:</div>
    Start Bootstrap
</div>
    </nav>
        </div>
            <div id="layoutSidenav_content">
            <main>
                <h1 class="mt-4">Notification Page</h1>
    
                <!-- Testing for the if statement teams-->
    

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Server</th>
                        <th scope="col">HighRisk</th>
                        <th scope="col">History</th>
                    </tr>
                    </thead>

                    <tbody>
            
                    <!-- Alerts Page
                    Adding the data dynamically -->

                    {% for data in alertsData %}
                    <tr>
                        <td scope='row'>{{ data["serverID"] }}</td>
                        <td>{{ data["connectionID"] }}</td>
                        <td>{{ data["history"] }}</td>
                        <td>
                            <button>Open</button>
                        </td>
                    </tr>

                    {% endfor %}

                    </tbody>

                </table>
                </div>
            </main>
        </div>        
           
{% endblock %}
