{% extends "layout.html" %}

{% block content %}

<div class="sb-sidenav-footer">
    <div class="small">Logged in as:</div>
    Start Bootstrap
</div>
    </nav>
        </div>
            <div id="layoutSidenav_content">
            <main>
            <body>
            <!-- Navigation bar -->
                <nav>
                    




                </nav>
                <!-- Room Selection Side bar -->
                <div id="main-section">
                        <nav id="sidebar">



                        </nav>
                    <!-- Message area-->
                    <div id="rightside-pannel">
                    <!-- Section for displaying messages-->
                        <div class="display-message-section">


                        </div>
                    <!-- Input area -->
                        <div id="input-area">
                            <input type="text" id="user_message" placeholder="Type here ..." autocomplete="off">
                            <button type="button" name="send_message">SEND</button>


                        </div>


                    </div>
                </div>


                <!-- Getting the first name -->

                <script type="text/javascript">
                    const firstname = `{{ firstname }}`;
                </script>

                <!-- SocketIO JS-->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

                <!-- Custom SocketIO JS-->

                <script src="{{ url_for('static', filename='scripts_yes/socketio.js') }}">

                    
                </script>
            </body>    
                </div>
            </main>
            </div>        
           
{% endblock %}