{% extends "layout.html" %}

{% block content %}

<div class="sb-sidenav-footer">
    <div class="small">Logged in as:</div>
    Start Bootstrap
</div>
    </nav>
        </div>
            <div id="layoutSidenav_content">
            <main>
                <h1 class="mt-4">Chat Box</h1>
    
                <!-- Testing for the if statement teams-->
    

                <h4>Chat </h4>

                
                </div>
            </main>
            </div>        
           
{% endblock %}