{% extends "layout.html" %}
{% block content %}

<div class="sb-sidenav-footer">
    <div class="small">Logged in as:</div>
    Start Bootstrap
</div>
    </nav>
        </div>
            <div id="layoutSidenav_content">
            <main> 

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/static/css/chat_style.css">
        <meta charset="utf-8">
        <title>Sup</title>

    </head>
            <body>
            <!-- Navigation bar -->
                <nav>
                    




                </nav>
                <!-- Room Selection Side bar -->
                <div id="main-section">

                        <nav id="sidebar">

                            <h4>ROOMS</h4>

                            {% for room in rooms %}
                                <p class="select-room">{{ room|title }}</p>
                            {% endfor %}

                        </nav>

                    <!-- Message area-->
                    <div id="rightside-pannel">
                    <!-- Section for displaying messages-->
                        <div id="display-message-section">


                        </div>
                    <!-- Input area -->
                        <div id="input-area">
                            <input type="text" id="user_message" placeholder="Type here ..." autocomplete="off">
                            <button type="button" id="send_message">SEND</button>


                        </div>


                    </div>
                </div>


                <!-- Getting the names -->

                <script type="text/javascript">
                    const firstname = `{{ firstname }}`;
                </script>

                <!-- Custom chat JS-->
                <script scr="{{ url_for('static',filename='scripts/chat_page.js') }}">

                </script>

                <!-- SocketIO JS-->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

                <!-- Custom SocketIO JS-->

                <script src="{{ url_for('static', filename='scripts/socketio.js') }}">

                    
                </script>
            </body>    
                </div>
            </main>
            </div>        
</html>       
{% endblock %}