{% from 'form_helper.html' import displayField %}
{% extends "layout_for_login.html" %}


{% block content %}

<div class="sb-sidenav-footer">
    <div class="small">Logged in as:</div>
    Start Bootstrap
</div>
    <nav>
        </div>
            <div id="layoutSidenav_content">
                <main>
                    <h1 class="mt-4">Servers Display Page</h1>

                        <tbody>
                            <!-- Cover Image  -->
                        <div class="jumbotron">
                            <h1 id="title">Welcome to Server Data</h1>
                        </div>

                        <div class="container-fluid">
                            <!-- Example row of columns -->
                            <div class="row">
                                <div class="container-fluid" id="data-container"></div>
                            </div>
                        </div>

                            <!-- <div class="ct-chart ct-perfect-fourth"></div> -->
                            <script>
                            var chart;

                            function requestData()
                                {
                                    // Ajax call to get the Data from Flask
                                    var requests = $.get('/data');

                                    // request is complete
                                    var tm = requests.done(function (result)
                                    {

                                        console.log("CPU", result.cpu);
                                        var series = chart.series[0],
                                            shift = series.data.length > 20;

                                        // add the point
                                        chart.series[0].addPoint(result, true, shift);

                                        // call it again after one second
                                        setTimeout(requestData, 2000);

                                    });
                                }

                                $(document).ready(function() {
                                    chart = new Highcharts.Chart({
                                        chart: {
                                            renderTo: 'data-container',
                                            defaultSeriesType: 'spline',
                                            events: {
                                                load: requestData
                                            }
                                        },
                                        title: {
                                            text: 'Live CPU data'
                                        },
                                        xAxis: {
                                            type: 'datetime',
                                            tickPixelInterval: 150,
                                            maxZoom: 10 * 10
                                        },
                                        yAxis: {
                                            minPadding: 0.2,
                                            maxPadding: 0.2,
                                            title: {
                                                text: 'Value',
                                                margin: 80
                                            }
                                        },
                                        series: [{
                                            name: 'CPU data',
                                            data: []
                                        }]
                                    });
                                });
                            </script>
                        </tbody>
                    </main>
            </div>
    </nav>
    
{% endblock %}