{% from 'form_helper.html' import displayField %}
{% extends "layout_for_login.html" %}
   

{% block content %}

    <h1>Login</h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3></h3>
             <form action="{{ url_for('login') }}", method='GET'>
                
               {{ displayField(form.email, "Email", autocomplete="off", autofocus=true) }}
                {{ displayField(form.password, "Password") }}
                {{ displayField(form.confirm_pswd, "Retype Password") }}

                <div>
                {{ form.login_button }} 
                </div>

                {{ form.csrf_token }}
                
            </form>
        </div>
    </div>
 {% endblock %}