{% from 'form_helper.html' import displayField %}

{% extends "layout.html" %}

{% block content %}

    <h2>Registering New User</h2>

    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
    </div>
        </nav>
            </div>
                <div id="layoutSidenav_content">
                <main>
                <form action="{{ url_for('register_test') }}", method='POST'>

                <!-- Using macros to make it ieasier for the entries -->
                   {{ displayField(form.firstname, 'First Name', autocomplete="off", autofocus=true)}}
                   {{ displayField(form.lastname, 'Last Name', autocomplete="off", autofocus=true)}}
                   {{ displayField(form.email, 'Email', autocomplete="off", autofocus=true)}}
                   {{ displayField(form.password, 'Password')}}
                   {{ displayField(form.confirm_pswd, 'Confirm Password')}}
                   {{ displayField(form.assigned_team, 'Team')}}


                <!-- We have added the button on the form now just to add it here-->
                <div>
                {{ form.create_user_button }}
                </div>

                {{ form.csrf_token }}

                </form>
            </div>
        </div>
        
{% endblock %}