
{% extends "layout.html" %}


{% block content %}       
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Server Info</h1>

                        <h1>User succesfully created</h1>
                    </div>
            </div>

{% endblock %}