{% extends "layout.html" %}
    
{% block content %}

<div class="sb-sidenav-footer">
    <div class="small">Logged in as:</div>
    Start Bootstrap
</div>
    </nav>
        </div>
            <div id="layoutSidenav_content">
            <main>
                <h1 class="mt-4">Welcome to the Teams Page</h1>

                <!-- Teams stuff-->

                <table class="table table-hover">
                    <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First Name</th>
                          <th scope="col">Last Name</th>
                          <th scope="col">Email</th>
                        </tr>
                      </thead>
                        {% for row in data %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>
                                <form method="post" action="/">
    
                                    <input type="submit" value="Delete" name="Delete"/>
                                
                                </form>
                            </td>
                        </tr>
                       
                        {% endfor %}



                        
                    </tbody>

                </table>
    </div>
</div>
           
{% endblock %}
